---
import { db, GuestBook } from 'astro:db';

// Watch for POST requests
if(Astro.request.method === 'POST') {

	// console.log(await Astro.request)

	let formData = await Astro.request.formData();
	let author = formData.get('author');
	let content = formData.get('content');

	// Validate that author and content are both of type 'string'
	if (typeof author === 'string' && typeof content === 'string') {

		// Insert data into the database
		await db.insert(GuestBook).values({ author, content });

		return Astro.redirect('/');
	}
}

// Selects all items from the GuestBook table
const guestBook = await db.select().from(GuestBook);
---

<dl>
	{
		guestBook
			.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp))
			.map(({author, content, timestamp}) => (
			<div>
				<dt>{author}</dt>
				<dd>{content}</dd>
				<dd>{timestamp}</dd>
			</div>
		))
	}
</dl>

<form method="POST" enctype="multipart/form-data">
  <label for="author">
    Author
    <input id="author" name="author" />
  </label>

  <label for="content">
    Content
    <textarea id="content" name="content"></textarea>
  </label>

    <button type="reset">Cancel</button>
    <button type="submit">Leave your mark</button>
</form>
